.banner {
  /* display: flex;
        justify-content: center;
        flex-wrap: wrap; */
  position: relative;
  height: 364px;
  /* width: 1000px; */
  overflow: hidden;
}
.banner-img {
  position: absolute;
  bottom: 0;
  width: 5000px;
}
.banner img {
  float: left;
  width: 1000px;
}

.banner-switchover {
  position: absolute;
  /* width: 100px; */
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.banner-switchover > span {
  cursor: pointer;
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 7px;
  background: #7b7d80;
  border-radius: 50%;
  border: 1px solid #fff;
}
.banner-switchover .on {
  background: #28a4c9;
}
/*  */
.story {
  position: relative;
  height: 250px;
  padding-top: 25px;
  background-color: rgb(255, 248, 250);
  text-align: center;
}
.story h2 {
  font-size: 1.2em;
  /* width: 100px; */
}
.story p {
  padding: 6px 260px;
  /* font-size: 0.9em; */
  text-align: left;
  text-indent: 2em;
  /* letter-spacing: 1px; */
  color: rgb(65, 65, 65);
  /* width: 100px; */
}
/* .story p::before {
        content: "";
        display: inline-block;
        width: 2em;
      } */
.story img {
  position: absolute;
  bottom: 0;
  left: 0;
  /* margin-top: 70px; */
  width: 1000px;
}
.product {
  position: relative;
  height: 1400px;
  text-align: center;
  background-color: #fee0ec;
}
.product .bgshadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 1000px;
  transform: rotateX(180deg);
  opacity: 0.3;
}
.product h2 {
  padding-top: 50px;
  margin-bottom: 30px;
  color: rgb(201, 106, 139);
}
.product-item {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 850px;
  height: 1000px;
  margin: 0 auto;
  /* background-color: orange; */
  text-align: left;
}
.product-item .img-show {
  width: 400px;
  text-align: center;
}
.product-item .img-show img {
  height: 370px;
  margin-bottom: 30px;
}
.product-item .ps {
  min-width: 350px;
  max-width: 350px;
  padding: 25px;
  height: 320px;
  border-radius: 35px 0px 35px 0px;
  background-color: white;
}
.ps ul {
  padding-left: 1em;
  margin-bottom: 25px;
}
.ps li {
  margin-bottom: 10px;
  color: rgb(70, 70, 70);
}
.ps h3 {
  font-weight: normal;
  color: rgba(201, 106, 139);
}
.ps .product_name {
  margin: 10px 0;
  font-size: 27px;
}
.yj {
  font-size: 12px;
  text-decoration: line-through;
}
.sj {
  font-size: 12px;
}
.ps p span,
.product-item p span {
  color: rgb(201, 106, 139);
  font-size: 30px;
}
.yen,
.product-item p .yen {
  color: rgb(201, 106, 139);
  font-size: 14px;
}

/*  */
.more {
  height: 1330px;
  background-color: rgb(255, 254, 254);
}
.more .bg {
  position: absolute;
  top: -60px;
  width: 1000px;
}
.more h2 {
  padding-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  color: rgba(2, 109, 187, 1);
}
.more-product {
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid black;
}
.more-product img {
  width: 360px;
}
.more-product #btn_buy {
  margin: 10px;
}
.more-product .product_name {
  font-size: 27px;
}
.more .product-item {
  text-align: center;
}

.serve {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0 100px;
  margin-top: 30px;
  font-size: 14px;
  color: rgba(114, 114, 114);
}
.serve li {
  display: flex;
  align-items: center;
}
.serve img {
  height: 40px;
  margin-right: 10px;
}

.fmenu{
  padding: 20px 0;
}
